.fullPage {
    background-color: grey;
}

.titleSelect{
    width:150px;
    border: 1px solid red;
    text-align: center;
    margin: auto; 
}
.selectTitleHero{
    margin: auto;
    text-align: center;
    width:150px;
}
.card {
    width: 100px;
    height: 200px;
    border: solid 1px black;
}
.selectHero {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
}

.selectedHero {
    display: flex;
    justify-content: center;
}
.enterFight {
    display: flex;
    justify-content:center;
    align-items: center;
}
.cardbutton {
    display: flex;
}