.Cards{
    background-color: blue;
    border: solid ;
    border-color: black;
    width: 150px;
    height: 300px;
    text-align: center;
    margin: 20px;
}
img {
    width:60px ;
    height: 60px;
}

.cardbutton {
    display: flex;
}