.container {
    background-image: url("https://zupimages.net/up/21/07/ehui.jpg");
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.HeaderTitle {
    color: rgb(202, 38, 20);
    opacity: 100%;
    font-weight: bold;
    font-size: 2rem;
}